mixin subscription(type, placeholder)
    .blockSubscription
        i.fa.fa-arrow-right.subscription(aria-hidden="true")
        Input.body.blockInput__InputSubscription(type=type,  placeholder=placeholder) 