.cardsSearch
    h1.text.text_type_h1 Найдём номера под ваши пожелания
    .cardsRow
        include ../../elements/date-dropdown/date-dropdown
        +dateDropdown('ПРИБЫТИЕ')
        +dateDropdown('ВЫЕЗД')
    .cardscontainer   
        include ../../elements/dropdown/dropdown
        +dropdown('ГОСТИ')
    .cardscontainer 
        include ../../elements/buttons/buttons
        +button('ПОДОБРАТЬ НОМЕР','button_color_gradient')