.cardsSearch
    h1.text.text_type_h1 Найдём номера под ваши пожелания
    .cardsRow
        include ../date-dropdown/date-dropdown
        +dateDropdown('ПРИБЫТИЕ')
        +dateDropdown('ВЫЕЗД')
    .cardscontainer   
        include ../dropdown/dropdown
        +dropdown('ГОСТИ')
    .cardscontainer 
        include ../buttons/buttons
        +button('ПОДОБРАТЬ НОМЕР','button_color_gradient')