@import "../date-dropdown/date-dropdown";
@import "../dropdown/dropdown";
@import "../buttons/buttons";

.cardsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.3rem;
}

.cardscontainer {
    margin-bottom: 1.3rem; 
}

.cardscontainer:last-child {
    margin: 1.9rem 0 0.71rem;  
}
