extends ../../../layout/main 
block variables
    - var title = 'Headers&Footers';

    include ../../../blocks/logo/logo
    include ../../../blocks/header/header
    .containerHeaderFooter
        +header('button','Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation', 'LOGIN', 'REGISTER')
    .containerHeaderFooter
        +header('','Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation')
    .containerHeaderFooter
    include ../../../blocks/footer/footer
    +footer('max')
    +footer()