extends ../../../layout/main 
block variables
    - var title = 'Headers&Footers';

    include ../../../blocks/logo/logo
    include ../../../blocks/header/header
    .containerHeaderFooter
        +header('button','Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation', 'LOGIN', 'REGISTER', 'button_header_login', 'button_header_register')
    .containerHeaderFooter
        +header('','Home', 'About Us', 'Services', 'Careers', 'News', 'Documentation','','', '', '', 'containerNav_width_60.7')
    .containerHeaderFooter
    include ../../../blocks/footer/footer
    +footer('max', 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.', 'NAVIGATION', 'About Us', 'News', 'Support', 'Products', 'ABOUT US', 'Who we are', 'Out team', 'Careers', 'Investors', 'SUPPORT', 'Documentation', 'community', 'Get in Touch', 'SUBSCRIBE TO OUR NEWSLETTER', 'Receive our latest news and promotions in your inbox!', 'Copyright © 2018 Toxin UI Kit. All rights reserved.')
    +footer()