@import "../../../blocks/text-field/text-field.scss";
@import "../../../blocks/dropdown/dropdown.scss";
@import "../../../blocks/buttons/buttons.scss";
@import "../../../blocks/checkbox-buttons/checkbox-buttons.scss";
@import "../../../blocks/radio-buttons/radio-buttons.scss";
@import "../../../blocks/toggle/toggle.scss";
@import "../../../blocks/like-button/like-button.scss";
@import "../../../blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../../../blocks/bullet-list/bullet-list.scss";

.column {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2rem;
}

.blockContent{
    display: flex;
    flex-direction: column;

}

.blockText{
    display: flex;
    justify-content: start;
}

.blockButton{
    display: flex;
    flex-direction: row; 
    margin-bottom: 2rem; 
}

.blockGroup{
    display: flex;
    flex-direction: row; 
}