@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";
@import "../../../blocks/text-field/text-field.scss";
@import "../../../blocks/review/review.scss";
@import "../../../blocks/pagination/pagination.scss";
@import "../../../blocks/dropdown/dropdown.scss";
@import "../../../blocks/dropdown-room/dropdown-room.scss";
@import "../../../blocks/subscription-text-field/subscription-text-field.scss";
@import "../../../blocks/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../../blocks/date-dropdown/date-dropdown.scss";
@import "../../../blocks/buttons/buttons.scss";
@import "../../../blocks/checkbox-buttons/checkbox-buttons.scss";
@import "../../../blocks/radio-buttons/radio-buttons.scss";
@import "../../../blocks/toggle/toggle.scss";
@import "../../../blocks/like-button/like-button.scss";
@import "../../../blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../../../blocks/bullet-list/bullet-list.scss";
@import "../../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../../../blocks/room-information/room-information.scss";
@import "../../../blocks/range-slider/range-slider.scss";
@import "../../../blocks/rate-button/rate-button.scss";

.containerElements{
    display: flex;
    flex-direction: row;
    padding: 2.18rem 8.8rem;
    justify-content: space-between;
}

.rowMain {
    display: flex;
    flex-direction: column;
    width: 72%;
    justify-content: space-between;
}

.columnMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.columnMain  .column:first-child{
    width: 30%;
}

.blockContent{
    display: flex;
    flex-direction: column;
}

.blockText{
    display: flex;
    justify-content: start;
}

.blockButton{
    display: flex;
    flex-direction: row; 
    margin-bottom: 2rem; 
}

.blockGroup{
    display: flex;
    flex-direction: row; 
}

