extends ../../../layout/main 
block variables
    - var title = 'Form Elements';

    include ../../../blocks/logo/logo
        .container
            .column    
                include ../../../blocks/text-field/text-field
                include ../../../blocks/dropdown/dropdown
                +blockInput('TEXT FIELD', 'email', 'email', 'Email', 'DEFAULT')
                +blockInput('TEXT FIELD', 'hover/focus', 'text', 'This is pretty awesome', 'HOVER/FOCUS')
                +blockSection('DROPDOWN', 'email', 'DEFAULT')
                +blockInput('MASKED TEXT FIELD', 'date', 'text', 'ДД.ММ.ГГГГ', 'DEFAULT')
                include ../../../blocks/expandable-checkbox-list/expandable-checkbox-list
                +checkboxList('EXPANDABLE CHECKBOX LIST')
            .column
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 CHECKBOX BUTTONS
                    include ../../../blocks/checkbox-buttons/checkbox-buttons
                    +checkbox('smoking','Можно курить')
                    +checkbox('pets','Можно с питомцами')
                    +checkbox('guests','Можно пригласить гостей (до 10 человек)')
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 RADIO BUTTONS
                    .blockGroup
                        include ../../../blocks/radio-buttons/radio-buttons
                        +radio('Men','Мужчина')
                        +radio('Woman','Женщина')
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 TOGGLE
                    include ../../../blocks/toggle/toggle
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 LIKE BUTTON
                    include ../../../blocks/like-button/like-button
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 RICH CHECKBOX BUTTON
                    include ../../../blocks/rich-checkbox-buttons/rich-checkbox-buttons
                    +richCheckbox('corridor','Широкий коридор', 'Ширина коридоров в номере не менее 91 см')
                    +richCheckbox('assistant','Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера' )
            .column
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 BUTTONS
                    include ../../../blocks/buttons/buttons
                    .blockButton
                        +button('CLICK ME', 'blueButton', 'button_color_gradient', 'button_size_mini')
                        +button('CLICK ME', 'dullButton', 'button_color_gradientDull', 'button_size_mini')
                    .blockButton
                        .module-border-wrap
                            +button('CLICK ME', 'blueButtonDull', 'button_border_withBorder', 'button_size_mini')
                        .module-border-wrap.borderDull
                            +button('CLICK ME', 'dullButton', 'button_border_withBorder', 'button_size_mini')
                    .blockButton
                        +link('CLICK ME', 'lightLink', '#')
                        +link('CLICK ME', 'darkLink', '#')
                    .blockButton
                        +button('ПЕРЕЙТИ К ОПЛАТЕ', 'blueButtonMax', 'button_color_gradient')
                .blockContent
                    .blockText
                        h3.heading.heading_type_h3 BULLET LIST
                    include ../../../blocks/bullet-list/bullet-list
                
    


