@import "../../../layout/colors&fonts.scss";
@import "../../../elements/text-field/text-field.scss";
@import "../../../elements/review/review.scss";
@import "../../../elements/pagination/pagination.scss";
@import "../../../elements/dropdown/dropdown.scss";
@import "../../../elements/dropdown-room/dropdown-room.scss";
@import "../../../elements/subscription-text-field/subscription-text-field.scss";
@import "../../../elements/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../../elements/date-dropdown/date-dropdown.scss";
@import "../../../elements/buttons/buttons.scss";
@import "../../../elements/checkbox-buttons/checkbox-buttons.scss";
@import "../../../elements/radio-buttons/radio-buttons.scss";
@import "../../../elements/toggle/toggle.scss";
@import "../../../elements/like-button/like-button.scss";
@import "../../../elements/rich-checkbox-buttons/rich-checkbox-buttons.scss";
@import "../../../elements/bullet-list/bullet-list.scss";
@import "../../../elements/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../../../elements/room-information/room-information.scss";
@import "../../../elements/range-slider/range-slider.scss";
@import "../../../elements/rate-button/rate-button.scss";

.containerElements{
    display: flex;
    flex-direction: column;
    padding: 2rem 8.8rem;
    justify-content: space-between;
}

.rowMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    width: 27.6%;
}

.blockContent{
    display: flex;
    flex-direction: column;
}

.blockText{
    display: flex;
    justify-content: start;
}

.blockButton{
    display: flex;
    flex-direction: row; 
    margin-bottom: 2rem; 
}

.blockGroup{
    display: flex;
    flex-direction: row; 
}

