$opacityMax: 1;

.colorsGroup{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width:20%;
}
.colorBlock{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: start;
    margin-bottom: 1.5rem;
}

.textNameColor{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 2rem;
}

@mixin colorExample ($color, $opacity:$opacityMax){
    width: 70px;
    height: 70px;
    border-radius: 6px;
    background: $color;
    opacity: $opacity;
}

.colorExample1{
    @include colorExample($Dark_Shade_100)
}
.colorExample2{
    @include colorExample($Dark_Shade_100, $opacityMax/2)
}
.colorExample3{
    @include colorExample($Dark_Shade_100,$opacityMax/3)
}
.colorExample4{
    @include colorExample($Dark_Shade_100,$opacityMax/4)
}
.colorExample5{
    @include colorExample($Dark_Shade_100,$opacityMax/20)
}
.colorExample6{
    @include colorExample($Purple)
}
.colorExample7{
    @include colorExample($Green)
}

.colorDescription{
    font-family: $MainFont;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    color: $Dark_Shade_100;
    margin:0;
}