@import "vars.scss";
@import "color&type.scss";
@import "icon.scss";

.body{
    width: 100%;
    margin: 0;
    font-size: 62,5%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}