.containerPagination
    .paginationRow.heading.heading_type_h3
        .paginationCircle.paginationCircle_color_purple 1
        .paginationNumber 2 
        .paginationNumber 3
        .paginationNumber ...
        .paginationNumber 15
        .paginationCircle.paginationCircle_color_green
            i.fa.fa-arrow-right(aria-hidden="true") 
    p.bodyText 1 – 12 из 100+ вариантов аренды
