extends ../../../layout/main 
block variables
    - var title = 'Landing pages';
    .containerLanding
        include ../../../blocks/header/header
        +header('buttons', 'О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения', '', 'ВОЙТИ', 'ЗАРЕГИСТРИРОВАТЬСЯ', 'button_size_long')
        .containerImg
            include ../../../blocks/search-rooms/search-rooms
            .containerHide.containerHide_type_hide
                include ../../../blocks/calendar/calendar
        include ../../../blocks/footer/footer
        +footer('max')
