@import "../../../layout/colors&fonts.scss";
@import "../../../blocks/search-rooms/search-rooms.scss";
@import "../../../blocks/calendar/calendar.scss";
@import "../../../elements/buttons/buttons.scss";
@import "../../../elements/dropdown/dropdown.scss";
@import "../../../elements/dropdown/dropdown__counter.scss";
@import "../../../pages/ui-kit/headers&footers/headers&footers.scss";

.containerLanding{
    display: flex;
    flex-direction: column;
}

.containerHide{
    position: absolute;
    top: 16.2rem;
    left: 10.6rem;
}

.containerHide_type_hide{
    display: none;
}

.containerImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    margin-top: -1px;
    position: relative;
    height: 46.3rem;
    padding: 4.3rem 8.5rem 1.27rem 8.72rem;
    background-image: url('/img/image 3.jpg');
}

.containerImg__containerText{
    display: flex;
    justify-content: flex-end;
}

.containerImg__containerText p.bodyText{
  width: 25%;
  text-align: end;
}

@media screen and (min-width: 1450px) {
    .containerImg{
        margin: 0 auto;
        width: 70%;
        padding: 2rem;
    }
    .containerHide{
        top: 13.9rem;
        left: 3.9rem;
    }
}

@media screen and (max-width: 850px) {
    .containerImg__containerCard{
        display: flex;
        justify-content: center;
    }
    .containerImg__containerText p.bodyText{
        width: 100%;
        text-align: center;
    }
    .containerImg{
        padding: 1rem 0.5rem;
        height: 70%;
    }
    .containerHide{
        top: 13rem;
        left: 16rem;
    }
}

@media screen and (max-width: 800px) { 
    .containerHide{
        left: 30%;
    }
}

@media screen and (max-width: 550px) { 
    .containerHide{
        left: -2rem;
    }
}

@media screen and (max-width: 400px) {
    .cardsRow{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .cardsSearch{
        padding: 1rem;
        height: 100%;
        width: 90%;
        margin: 1rem;
    }
    .cardsSearch h1{ 
        margin: 0.2rem;
        font-size: 1.3rem;
    }
    .blockDropdownMain{
        width: 100%;
    }
    .cardscontainer:last-child{
        margin: 0;
    }
    .containerHide{
        top: 12.4rem;
        left: 3rem;
    }
}
@media screen and (max-width: 380px) {
    .containerHide{
        top: 16rem;
        left: 2rem;
    }
}
