@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";
@import "../../../blocks/buttons/buttons.scss";
@import "../../../blocks/dropdown/dropdown.scss";
@import "../../../blocks/dropdown/dropdown__counter.scss";

.containerLanding{
    display: flex;
    flex-direction: column;
}

.containerHide{
    position: absolute;
    top: 16.2rem;
    left: 10.6rem;
}

.containerHide_type_hide{
    display: none;
}

.containerImg{
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    position: relative;
    height: 46.3rem;
    padding: 4.3rem 8.5rem 1.27rem 8.72rem;
    background-image: url('/img/image 3.jpg');
}

.containerImg p{
  display: flex;
  align-items: flex-end;
  text-align: right;
  width: 17rem;
}