.blockRadio{
    display: flex;
    flex-direction: row;
    padding: 0.57rem 1.1rem 0.8rem 0.2rem;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
 
.radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  
.radio+label::before {
    content: '';
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 50%;
    margin-right: 0.6rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}
 
.radio:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='#8BA4F9'/%3e%3c/svg%3e");
    // background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
