.cards
    h1.text.text_type_h1 Войти
    .loginBox
        +textField('text', 'Email')
    .loginBox.loginBox_indentation_down 
        +textField('text', 'Пароль')
    include ../buttons/buttons
    +button('ВОЙТИ', 'searchRoom', 'button_color_gradient')
    .loginRow
        p.text.text_type_h3.text_size_14.text_weight_normal Уже есть аккаунт на Toxin
        +button('СОЗДАТЬ', 'registrationButtonTwo', 'button_border_withBorder','button_size_mini')