.blockSubscription{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14.9rem;
    height: 1.1rem;
    position: relative;
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 0.3rem;
    padding: 0.8rem;
}

i.fa.fa-arrow-right.subscription{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;
    color: transparent;
}
