.colorsGroup
    square.colorExample1
    square.colorExample2
    square.colorExample3
    square.colorExample4
    square.colorExample5
    square.colorExample6
    square.colorExample7
    text.colorDescription Dark Shade 100%
    

