.calendar{
    width: 17.1rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2.5rem;
    padding: 1.5rem 1.5rem 1.3rem 1.3rem;
    position: relative;
    z-index: 99;
}

.calendar_shadow_shadow{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.containerHide{
    position: absolute;
    top: 16.2rem;
    left: 10.6rem;
}

.containerHide_type_hide{
    display: none;
}

.calendarContainer{
    margin: -1.35rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tableCalendar{
    display: flex;
    flex-direction: column;
    padding: 1.32rem 0 0;
}

.calendarBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17.4rem;
    margin: 0.5rem 0 0 -0.3rem; 
}

.tableCalendar tr{
    margin-top: 0.4rem;
}

tr:first-child{
    width: 16.2rem;
    margin-left: 0.5rem;
    margin-top: 0;
}

tr:nth-child(3){
    margin-top: 0.1rem;
}

tr:nth-child(4){
    margin-top: -0.1rem;
}

tr:nth-child(5), tr:nth-child(6){
    margin-top: 0;
}

td{
    width: 2.5rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blockcalendarList{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17.5rem;
    margin: 1rem 0 -0.27rem -0.4;
}

.blockcalendarList p {
    cursor: pointer;
}

.calendarCircle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.5rem;
    color: #ffffff;
}

.colorDiv{
    position: absolute;
    width: 1rem;
    height: 2.6rem;
    right: 0;
    background-color: rgba(188, 156, 255, 0.2);
}

.colorDiv_position_left{
    left: 0;
}

.calendarCircle_color_purple{
    background: linear-gradient(180deg, $FirstColorGradient 0%, $SecondColorGradient 100%);
}

.calendarCircle_color_green{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.intervalColor{
    background-color:  rgba(188, 156, 255, 0.2);
}