.cardsMini{
    width: 16.2rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 2.5rem;
    padding: 1.3rem 1.8rem 1.3rem 1.8rem;
}

.calendarContainer{
    margin: -1.4rem -0.5rem 0 -0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tableCalendar{
    display: flex;
    flex-direction: column;
    padding: 0.9rem 0 0; 
}

.calendarBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17.4rem;
    margin: 0.5rem 0 0 -0.3rem; 
}

tr:first-child{
    width: 16.3rem;
    padding-left: 0.48rem;
}

tr:nth-child(3), tr:nth-child(4){
    margin-top: -0.2rem;
}

tr:nth-child(5), tr:nth-child(6){
    margin-top: -0.1rem;
}

td{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockcalendarList{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17.5rem;
    margin: 1.1rem -0.5rem -0.5rem;
}

.calendarCircle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
}

.colorDiv{
    position: absolute;
    width: 1rem;
    height: 2.6rem;
    right: 0;
    background-color: rgba(188, 156, 255, 0.2);
}

.colorDiv_position_left{
    left: 0;
}


.calendarCircle_color_purple{
    background: linear-gradient(180deg, $FirstColorGradient 0%, $SecondColorGradient 100%);
}

.calendarCircle_color_green{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.intervalColor{
    background-color:  rgba(188, 156, 255, 0.2);
}