.cardsMini.cardsMini_shadow_shadow
    .calendarContainer.heading.heading_type_h2.heading_color_purple
        i.fa.fa-arrow-left(aria-hidden="true")
        h2.heading.heading_type_h2 Август 2019
        i.fa.fa-arrow-right(aria-hidden="true")
    table.tableCalendar
        tr.heading.heading_type_h3.heading_color_purple.calendarBox
            th Пн
            th Вт
            th Ср
            th Чт
            th Пт
            th Сб
            th Вс
    .blockcalendarList
        p.heading.heading_type_h3.heading_color_purple ОЧИСТИТЬ
        p.heading.heading_type_h3.heading_color_purple ПРИМЕНИТЬ