.calendar.calendar_shadow_shadow
    .calendarContainer.text_text_type_h2.text_color_purple
        i.fa.fa-arrow-left.fa-lg(aria-hidden="true")
        h2.text.text_type_h2 Август 2019
        i.fa.fa-arrow-right.fa-lg(aria-hidden="true")
    table.tableCalendar
        tr.text.text_type_h3.text_color_purple.calendarBox
            th Пн
            th Вт
            th Ср
            th Чт
            th Пт
            th Сб
            th Вс
    .blockcalendarList
        p.text.text_type_h3.text_color_purple ОЧИСТИТЬ
        p.text.text_type_h3.text_color_purple ПРИМЕНИТЬ