.blockStar
    i.fa.fa-star-o(aria-hidden="true", id='starOne')
    i.fa.fa-star-o(aria-hidden="true", id='starTwo')
    i.fa.fa-star-o(aria-hidden="true", id='starThree')
    i.fa.fa-star-o(aria-hidden="true", id='starFour')
    i.fa.fa-star-o(aria-hidden="true", id='starFife')