.containerDiagram
    .containerSector
        .sector.sector_color_blue
        .sector.sector_color_green.sector_rotate_90
        .containerSector__text
            p.text.text_type_h1.text_color_purple 260
            p.text.text_type_h3.text_color_purple ГОЛОСОВ
    .containerTextForDiagram
        ul
            .containerTextForDiagram_block
                i.fa.fa-circle.DiagramCircle.DiagramCircle_color_orange(aria-hidden="true")
                li.bodyText Великолепно
            .containerTextForDiagram_block
                i.fa.fa-circle.DiagramCircle.DiagramCircle_color_green(aria-hidden="true")
                li.bodyText Хорошо
            .containerTextForDiagram_block
                i.fa.fa-circle.DiagramCircle.DiagramCircle_color_blue(aria-hidden="true")
                li.bodyText Удовлетворительно
            .containerTextForDiagram_block
                i.fa.fa-circle.DiagramCircle.DiagramCircle_color_black(aria-hidden="true")
                li.bodyText Разочарован