mixin review(name, days, text, foto)    
    .reviewContainer
        .reviewColumn
            img(src=foto)
            include ../like-button/like-button
        .reviewColumn
            p.bodyText.text_weight_bold=name
            p.bodyText=days
            p.bodyText.reviewPadding=text