mixin review(name, days, text)    
    .reviewContainer
        .reviewColumn
            img(src='img/review1.png')
            include ../like-button/like-button
        .reviewColumn
            p.bodyText.text_weight_bold=name
            p.bodyText=days
            p.bodyText.reviewPadding=text