.cards
    h1.heading.heading_type_h1 Регистрация аккаунта
    .registrationContainer
        include ../text-field/text-field
        +textField('text', 'Имя')
    include ../text-field/text-field
    +textField('text', 'Фамилия')
    .cardsRowStart
        include ../radio-buttons/radio-buttons
        +radio('registrationRadioMan', 'Мужчина', 'registrationRadio')
        +radio('registrationRadioWoman', 'Женщина', 'registrationRadio')
    .registrationBox
        h3.heading.heading_type_h3 ДАТА РОЖДЕНИЯ
        +textField('text', 'ДД.ММ.ГГГГ')
    .registrationBox
        h3.heading.heading_type_h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
        +textField('text', 'Email')
    .registrationBox
        +textField('text', 'Пароль')
    .cardsRowStart
        include ../toggle/toggle
    include ../buttons/buttons
    +button('ПЕРЕЙТИ К ОПЛАТЕ', 'registrationButton', 'button_color_gradient')
    .registrationRow
        p.heading.heading_type_h3.heading_size_14.heading_weight_normal Уже есть аккаунт на Toxin
        +button('ВОЙТИ', 'registrationButtonTwo', 'button_border_withBorder','button_size_mini')