@import "../../elements/text-field/text-field";
@import "../../elements/radio-buttons/radio-buttons";
@import "../../elements/toggle/toggle";
@import "../../elements/buttons/buttons";

.cardsAccount{
    width: 20rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 2.5rem;
    padding: 1.52rem 1.8rem 1.3rem 1.7rem;
}

.registrationRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.85rem 0 0.5rem;
    align-items: center;
}

.registrationRow button{
    cursor: pointer;
}

.cardsRowStart{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: -0.2rem;
}

.registrationContainer{
    margin-bottom: 0.5rem;
}

.registrationBox{
    margin-top: 0.5rem;
}

.cardsRowStart+.registrationBox+.registrationBox{
    margin-top: 1.2rem;
}