@import "../text-field/text-field";
@import "../radio-buttons/radio-buttons";
@import "../toggle/toggle";
@import "../buttons/buttons";

.registrationRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.85rem 0 0.5rem;
    align-items: center;
}

.cardsRowStart{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.registrationContainer{
    margin-bottom: 0.9rem;
}

.registrationBox{
    margin-top: 0.8rem;
}

.cardsRowStart+.registrationBox+.registrationBox{
    margin-top: 1.2rem;
}