.cardsAccount
    h1.text.text_type_h1 Регистрация аккаунта
    .registrationContainer
        include ../../elements/text-field/text-field
        +textField('text', 'Имя')
    include ../../elements/text-field/text-field
    +textField('text', 'Фамилия')
    .cardsRowStart
        include ../../elements/radio-buttons/radio-buttons
        +radio('registrationRadioMan', 'Мужчина', 'registrationRadio')
        +radio('registrationRadioWoman', 'Женщина', 'registrationRadio')
    .registrationBox
        h3.text.text_type_h3 ДАТА РОЖДЕНИЯ
        +textField('text', 'ДД.ММ.ГГГГ')
    .registrationBox
        h3.text.text_type_h3 ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
        +textField('text', 'Email')
    .registrationBox
        +textField('text', 'Пароль')
    .cardsRowStart
        include ../../elements/toggle/toggle
    include ../../elements/buttons/buttons
    +button('ПЕРЕЙТИ К ОПЛАТЕ', 'button_color_gradient')
    .registrationRow
        p.bodyText.text_height_18.text_color_black Уже есть аккаунт на Toxin
        +button('ВОЙТИ', 'button_border_withBorder','button_size_mini', '',  "location.href='sign-in.html'")