.like-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    height: 1.2rem;
    border-radius: 2rem;
    background-color: #ffffff;
    font-size: 0.5rem;
}

.styleNumber{
    font-family: $MainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 0.6rem;
    line-height: 0.9rem;
    text-align: center;
    margin:0;
}

.styleNumber_color_passive{
    color: $ColorOfInactiveElements;
}

.styleNumber_color_active{
    color: $FirstColorGradient;
}

.like-button_state_active{
    border: 1px solid $FirstColorGradient;
    color: $FirstColorGradient;
}

.like-button_state_passive{
    border: 1px solid $ColorOfInactiveElements;
    color: $ColorOfInactiveElements;
}
