.containerFooter
    .columnFooter
        include ../toxin/toxin
        p.bodyText Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    .columnFooter
        ul
            li.heading.heading_type_h3 Navigation
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 About Us
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 News
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Support
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Products
    .columnFooter
        ul
            li.heading.heading_type_h3 About Us
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Who we are
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Out team
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Careers
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Investors
    .columnFooter
        ul
            li.heading.heading_type_h3 Support
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Documentation
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 community
            li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Get in Touch
    .columnFooter
        p.heading.heading_type_h3 Subscribe to our newsletter
        p.heading.heading_type_h3.heading_color_50.heading_size_14x17 Receive our latest news and promotions in your inbox!
            include ../subscription-text-field/subscription-text-field
            +subscription('email', 'Your email address')
    
     
