mixin footer (max)
    if (max)
        .containerFooter
            .rowFooter
                .columnFooter
                    include ../toxin/toxin
                    +toxin()
                    p.bodyText Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .columnFooter
                    ul
                        li.heading.heading_type_h3 NAVIGATION
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 About Us
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 News
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Support
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Products
                .columnFooter
                    ul
                        li.heading.heading_type_h3 ABOUT US
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Who we are
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Out team
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Careers
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Investors
                .columnFooter
                    ul
                        li.heading.heading_type_h3 SUPPORT
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Documentation
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 community
                        li.heading.heading_type_h3.heading_color_50.heading_size_14x17 Get in Touch
                .columnFooter
                    p(id='text').heading.heading_type_h3 SUBSCRIBE TO OUR NEWSLETTER
                    p.heading.heading_type_h3.heading_color_50.heading_size_14x17 Receive our latest news and promotions in your inbox!
                        include ../subscription-text-field/subscription-text-field
                        +subscription('email', 'Your email address')
            .rowFooter
                p.bodyText  Copyright © 2018 Toxin UI Kit. All rights reserved.
                .containrImgFooter
                    include ../contacts/contacts
                    +contacts()
    else
        .containerFooter_center
            .columnFooter_center
                include ../toxin/toxin
                +toxin('containerToxin_position_center')
                p.bodyText Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .containrImgFooter
                    include ../contacts/contacts
                    +contacts('containerContacts')


    
     
