@import "../toxin/toxin.scss";
@import "../subscription-text-field/subscription-text-field.scss";
@import "../contacts/contacts.scss";

.containerFooter{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 6.33rem 8.7rem 0;
    justify-content: space-around;
}

.containerFooter_center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8.7rem 8.7rem 7rem;
}

.columnFooter_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.columnFooter_center p{
    margin: 1rem 0 1.85rem;
    text-align: center;
}

.containrImgFooter{
   margin-left: -1.7rem;
}

.columnFooter{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.columnFooter:first-child{
    width: 27%;
}

.columnFooter:last-child{
    width: 22.5%;
}

.rowFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowFooter_style_line{
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
}

.rowFooter:first-child{
    margin-bottom: 5.4rem;
}

.rowFooter_style_line .rowFooter{
    width: 80.7%;
}

#Copyright{
    margin: 0;
    width: 50%;
}

.columnFooter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.columnFooter li{
    margin-bottom: 0.4rem;
}

.columnFooter li:first-child, #text{
   margin-bottom: 0.6rem;
}

.rowFooter p.bodyText{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    width: 17rem;
}