@import "../toxin/toxin.scss";
@import "../subscription-text-field/subscription-text-field.scss";
@import "../contacts/contacts.scss";

.containerFooter{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 6.33rem 8.7rem 0;
    justify-content: space-around;
}

.containerFooter_center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 8.7rem 8.7rem 7rem;
}

.columnFooter_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.columnFooter_center p{
    margin: 1rem 0 1.85rem;
    text-align: center;
}

.containrImgFooter{
   margin-left: -1.7rem;
}

.columnFooter{
    display: flex;
    flex-direction: column;
    width: 18%;
}

.columnFooter:first-child{
    width: 27%;
}

.columnFooter:last-child{
    width: 22.5%;
}

.rowFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowFooter_style_line{
    border-top: 1px solid rgba(31, 32, 65, 0.1);
    padding-top: 1.4rem;
    display: flex;
    justify-content: center;
    height: 3rem;
}

.rowFooter:first-child{
    margin-bottom: 5.4rem;
}

.rowFooter_style_line .rowFooter{
    width: 80.7%;
}

#Copyright{
    margin: 0;
    width: 50%;
}

.columnFooter ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.columnFooter li{
    margin-bottom: 0.4rem;
}

.columnFooter li:first-child, #text{
   margin-bottom: 0.6rem;
}

.rowFooter p.bodyText{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    width: 17rem;
}

@media screen and (max-width: 1250px) {
    .columnFooter{
      margin-right: 1rem;
    }
    .rowFooter p.bodyText{
        width: 100%;
    }
    .blockSubscription{
        width: 100%;
    }
    .containerFooter{
        padding: 3rem 2rem 0;
    }
}

@media screen and (max-width: 750px) {
    .containerFooter{
        padding: 1.5rem 1rem 0;
    }
    .rowFooter p.bodyText{
        margin: 0;
        padding: 0;
    }
    .rowFooter{
      justify-content: center;
      flex-wrap: wrap;
    }
    .columnFooter li, .columnFooter li:first-child{
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .containerFooter{
        padding: 1rem 0 0 1rem;
    }
    .rowFooter, .rowFooter:first-child{
        margin: 0;
    }
    .containerFooter_center{
        flex-wrap: wrap;
        justify-content: center;
    }
    .containrImgFooter{
        margin-left: 0;
    }
    #Copyright{
        width: 100%;
        text-align: center;
    }
    .columnFooter{
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    .containerToxin{
        width: 30%;
        margin: 0 auto;
    }
    .columnFooter{
        width: 40%;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .columnFooter:first-child{
        width: 100%;
    }
    .columnFooter:last-child{
        width: 100%;
        margin-bottom: 0;
    }
    .containrImgFooter{
        margin-top: 1rem;
    }
    .blockSubscription{
        width: 70%;
        margin: 0 auto;
    }
}