mixin filterDateDropdown(name)
    h3.heading.heading_type_h3=name
    .blockFilterDropdownMain
        .blockFilterDropdownList
            p.heading.heading_type_h3Light 19 авг - 23 авг
            i.fa.fa-angle-down.heading.heading_type_h3(aria-hidden="true")