*{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

#toggleP{
    margin: 0 0 0.2rem -0.25rem;
}

*:focus{
    outline: none;
}

.BlockGroupRadio{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0.47rem 0 1.3rem;
}

.BlockGroupRadio .heading.heading_type_h3Light{
    margin: 0.6rem;
}

.buttonToggle{
    position: relative;
    top: 50%;
    width: 38px;
    height: 17px;
    margin: -12px 1rem 0 0;
    overflow: hidden;
}

.buttonToggle.mask, .layer{
    border-radius: 100px;
}

.buttonToggle.mask, .layer::before{
    border: 1px solid $FirstColorGradient;
}

.checkboxToggle{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{
    z-index: 2;
}

.layer{
    width: 100%;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 4px;
    height: 0;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 6px 4px;
    background: $ColorOfInactiveElements;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkboxToggle:checked + .knobs:before{
    content: '';
    left: 24px;
    background: linear-gradient(180deg, $FirstColorGradient 0%, $SecondColorGradient 100%);
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer{
    transition: 0.3s ease all;
}