$Dark_Shade_100: #1F2041;
$Purple: #BC9CFF;
$Green: #6FCF97;

$MainFont: 'Quicksand-Regular', Arial, sans-serif;
$AdditionalFont: 'Montserrat-Regular', Arial, sans-serif;

.heading{
    font-family: $MainFont;
    font-style: normal;
    font-weight: bold;
    color: $Dark_Shade_100;
}

.heading_type_h1{
    font-size: 1.5rem;
    line-height: 2rem;
}

.heading_type_h2{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.heading_type_h3{
    font-family: $AdditionalFont;
    font-size: 0.7rem;
    line-height: 1rem;
}

.body{
    font-family: $AdditionalFont;;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
}