extends ../layout/main 
block variables
    - var title = 'Links';
    include ../blocks/logo/logo
        .container
            h1.text.text_type_h1 Ui-kit:
            a.text.text_type_h2(href='colors&type.html') Colors&Type
            a.text.text_type_h2(href='form-elements.html') Form elements
            a.text.text_type_h2(href='cards.html') Cards
            a.text.text_type_h2(href='headers&footers.html') Headers&Footers
        .container
            h1.text.text_type_h1 Website-pages:
            a.text.text_type_h2(href='landing-pages.html') Landing pages



            


        