extends ../layout/main 
block variables
    - var title = 'Links';
    include ../blocks/logo/logo
        .container
            h1.text.text_type_h1 Ui-kit:
            a.text.text_type_h2(href='html/colors&type.html') Colors&Type
            a.text.text_type_h2(href='html/form-elements.html') Form elements
            a.text.text_type_h2(href='html/cards.html') Cards
            a.text.text_type_h2(href='html/headers&footers.html') Headers&Footers
        .container
            h1.text.text_type_h1 Website-pages:
            a.text.text_type_h2(href='html/landing-pages.html') Landing pages
            a.text.text_type_h2(href='html/search-room.html') Search room
            a.text.text_type_h2(href='html/room-details.html') Room details
            a.text.text_type_h2(href='html/registration.html') Registration
            a.text.text_type_h2(href='html/sign-in.html') Sign in
            


            


        