extends ../layout/main 
block variables
    - var title = 'Links';
    include ../blocks/icon/icon
        .container
            a.heading.heading_type_h1(href='colors&type.html') Colors&Type
            a.heading.heading_type_h1(href='form-elements.html') Form elements
            


        