extends ../layout/main 
block variables
    - var title = 'Links';
    include ../blocks/logo/logo
        .container
            a.heading.heading_type_h1(href='colors&type.html') Colors&Type
            a.heading.heading_type_h1(href='form-elements.html') Form elements
            a.heading.heading_type_h1(href='cards.html') Cards
            


        