mixin dropdown (name)
    include /dropdown__counter
    h3.heading.heading_type_h3=name
    .containerDropdown
        .blockDropdownMain
            .blockDropdownList
                p.heading.heading_color_75.heading_size_14.heading_weight_normal Сколько гостей
                i.fa.fa-angle-down.heading.heading_type_h3(aria-hidden="true")
        .blockDropdownAdditional.dropdownHide
            .blockDropdownList 
                p.heading.heading_type_h3.heading_color_75 Взрослые
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.heading.heading_type_h3.heading_color_75 Дети
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.heading.heading_type_h3.heading_color_75 Младенцы
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.heading.heading_type_h3.heading_color_purple.clearHide ОЧИСТИТЬ
                p.heading.heading_type_h3.heading_color_purple ПРИМЕНИТЬ 