mixin dropdown (name)
    include /dropdown__counter
    h3.text.text_type_h3=name
    .containerDropdown
        .blockDropdownMain
            .containerDropdownList
                p.bodyText Сколько гостей
                i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
        .blockDropdownAdditional.dropdownHide
            .blockDropdownList 
                p.text.text_type_h3 Взрослые
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3 Дети
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3 Младенцы
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3.text_color_purple.clearHide ОЧИСТИТЬ
                p.text.text_type_h3.text_color_purple ПРИМЕНИТЬ 