@import "./dropdown__counter.scss";

.containerDropdown{
    position: relative;
}

.blockDropdownMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 5px;
    width: 19.9rem;
    height: 2.7rem;
    position: relative;
    z-index: 97;
}

.containerDropdownList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    height: 100%;
}

.blockDropdownList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-left: 0.8rem;
}

.blockDropdownList:last-child{
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

.blockDropdownAdditional{
    background-color: #ffffff;
    border: 1px solid $ColorOfInactiveElements;
    position: absolute;
    border-top: 1px solid $ColorAdd-ons;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    width: 19.9rem;
    top: 2.65rem;
    z-index: 98;
}

.blockDropdownMain_size_mini{
    width: 16.4rem;
}

.blockDropdownMain .blockDropdownList p{
    margin: 0;
}

.dropdownHide{
    display: none;
}

.clearHide{
    visibility: hidden;
}