mixin Counter (number, className)
    .BlockCounter
        button.buttonMinus(class=className) -
        p.heading.heading_type_h3.pCounter()=number
        button.heading.heading_type_h3.buttonPlus() +