.blockDropdownMain{
    display: flex;
    flex-direction: column;
    border: 1px solid $ColorOfInactiveElements;
    width: 86%;
    border-radius: 5px;
}

.blockDropdownList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 94%;
}

.blockDropdownList:first-child{
    border: 1px solid transparent;
    border-color: transparent transparent $FirstColorGradient transparent;
    color: $ColorOfInactiveElements;
}

.blockDropdownMain .blockDropdownList p{
    margin: 0;
}