mixin dropdownRoom (name)
    include ../dropdown/dropdown__counter
    h3.text.text_type_h3=name
    .containerDropdownRoom
        .blockDropdownRoomMain
            p.bodyText 2 спальни, 2 кровати...
            i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
        .blockDropdownRoomAdditional.dropdownHide
            .blockRoomList
                p.text.text_type_h3.text_color_75 СПАЛЬНИ
                +Counter('2')
            .blockRoomList
                p.text.text_type_h3.text_color_75 КРОВАТИ
                +Counter('2')
            .blockRoomList
                p.text.text_type_h3.text_color_75 ВАННЫЕ КОМНАТЫ
                +Counter('0', 'buttonMinus_type_inactive')