.containerDropdownRoom{
    position: relative;
}

.blockDropdownRoomMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $ColorOfInactiveElements;
    width: 14.7rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0.35rem 1rem 0.35rem 0.8rem;
}

.blockRoomList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.3rem 0 0.7rem;
}

.blockDropdownRoomMain > .blockRoomList:first-child{
    border: 1px solid transparent;
    color: $ColorOfInactiveElements;
}

.blockDropdownRoomAdditional{
    background-color: #ffffff;
    z-index: 99;
    width: 16.5rem;
    top: 2.5rem;
    background-color: #ffffff;
    border: 1px solid $ColorOfInactiveElements;
    position: absolute;
    border-top: 1px solid $ColorAdd-ons;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    margin-top: 0.24rem;
}

.blockDropdownRoomMain .blockRoomList p{
    margin: 0;
}

.dropdownHide{
    display: none;
}
