.blockDropdownMain{
    display: flex;
    flex-direction: column;
    border: 1px solid $ColorOfInactiveElements;
    width: 86%;
    border-radius: 5px;
}

.blockDropdownList{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.5rem 0;
    width: 94%;
}

.blockDropdownMain > .blockDropdownList:first-child{
    border: 1px solid transparent;
    border-color: transparent transparent $FirstColorGradient transparent;
    color: $ColorOfInactiveElements;
    padding: 0.5rem;
}

.blockDropdownMain > div.removeUnderline:first-child{
    border-color: transparent;
}

.blockDropdownAdditional{
    background-color: #ffffff;
    z-index: 99;
}

.blockDropdownList:last-child{
    padding: 0.5rem;
}

.blockDropdownMain .blockDropdownList p{
    margin: 0;
}

.dropdownHide{
    display: none;
}

.clearHide{
    visibility: hidden;
}