ul.list{
    margin: 0;
    padding-left: 0;
    list-style: none; 
}

.blockList{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.6rem;
    align-items: baseline;
}

.blockList i.fa.fa-circle{
    color: $ColorOfInactiveElements;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}
