mixin slider(name)
    .sliderRow.bodyText
        h3.heading.heading_type_h3=name
        .sliderPrice
            .output.o0 
            p.sliderHyphen - 
            .output.o1 
    .containerSlider
        .slider
            .track
        .thumb.t0 
        .thumb.t1