mixin filterDateDropdown(name)
    h3.text.text_type_h3=name
    .blockFilterDropdownMain
        .blockFilterDropdownList
            p.bodyText 19 авг - 23 авг
            i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")