.blockFilterDropdownMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 5px;
    margin-top: 1px;
    width: 16.5rem;
    height: 2.6rem;
}

.blockFilterDropdownList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 2.6rem;
}