.cards
    .rateRow
        .rateRow.rateRow_indentation_upMini
            h1.text.numberTextNumber.down №
            h1.text.numberText 888
            h2.text.text_type_h3.text_color_purple.down ЛЮКС
        .rateRow.down
            h3.text.text_type_h3.text_size_14.text_color_50 9 990₽
            h3.text.text_type_h3.text_size_14.text_color_50.text_weight_normal в сутки
    .rateRow
        include ../date-dropdown/date-dropdown
        +dateDropdown('ПРИБЫТИЕ') 
        +dateDropdown('ВЫЕЗД')
    .reteContainer
        include ../dropdown/dropdown
        +dropdown('ГОСТИ')
    .rateRow.rateRow_indentation_down
        p.bodyText.text_size_14.widthBlock 9 990₽ х 4 суток
        p.bodyText.text_size_14 39 960₽
    .rateRow
        .rateRow
            p.bodyText.text_size_14.widthBlock Сбор за услуги: скидка 2 179₽
            .rateI.text.text_type_h3.text_color_purple i
        p.bodyText.text_size_14 0₽
    .rateRow.rateRow_indentation_down.rateRow_alignment_start
        .rateRow
            p.bodyText.text_size_14.widthBlock Сбор за дополнительные услуги
            .rateI.text.text_type_h3.text_color_purple(id='i') i
        p.bodyText.text_size_14 300₽
    .rateRow
        h2.text.text_type_h2 Итого 
        h2.text.text_type_h2 38 081₽
    .ratebox
        include ../buttons/buttons
        +button('ЗАБРОНИРОВАТЬ', 'button_color_gradient')