@import "../date-dropdown/date-dropdown";
@import "../dropdown/dropdown";
@import "../buttons/buttons";

.cardsRoomRate{
    width: 20rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 2.5rem;
    padding: 1.3rem 1.8rem 1.3rem 1.8rem;
    height: 29.2rem;
}

.rateRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.2rem;
}

.rateRow__total{
    display: flex;
    margin: -0.3rem 0 0.2rem 0;
}

.dottedLine{
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    width: 54%;
    height: 0.8rem;
}

.rateRow_indentation_down {
    margin: -0.1rem 0 0.7rem;
}

.rateRow_indentation_upMini {
    margin: 1.2rem 0;
}

.rateRow_alignment_start{
    align-items: start;
}

.widthBlock {
    width: 14rem;
}

p{
    margin: 0;
}
#i{
    margin-top: -1.1rem;
}

.rateRow h2.heading.heading_type_h2{
    margin-top: 0.9rem;
}

.reteContainer{
    margin: 1.15rem 0;
}

.ratebox{
    margin-bottom: 0.7rem;
}

.down{
    margin: 0.45rem 0 0;
}

.numberText{
    margin: 0 0.35rem;
    font-size: 1.5rem;
}

.numberTextNumber{
    font-size: 1rem;  
}

.rateI{
    display: flex;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 50%;
}