@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";
@import "../../../pages/ui-kit/headers&footers/headers&footers.scss";
@import "../../../blocks/room-rate/room-rate";
@import "../../../elements/room-information/room-information";
@import "../../../elements/review/review";
@import "../../../elements/like-button/like-button";
@import "../../../elements/bullet-list/bullet-list";
@import "../../../blocks/diagram/diagram";
@import "../../../blocks/calendar/calendar";

.containerRoomDetails{
    display: flex;
    flex-direction: column;
}

.containerHide{
    top: 49rem;
    left: 59.25rem;
}

.containerForImg{
    display: flex;
    flex-direction: row;
}

.containerForImg__mini{
    display: flex;
    flex-direction: column;
}

.containerForInformation{
    display: flex;
    flex-direction: row;
    padding: 4.3rem 8.8rem 1rem 8.8rem;
}

.containerForInformation__maxi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerForInformation__maxi h2{
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.containerForInformation__blockRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerForInformation__maxi > .containerForInformation__blockRow{
    width: 86%;
}

.containerForInformation__blockRow:nth-child(2) .containerForInformation__blockColumn{
    width: 120%;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn{
    width: 38%;
}

.containerForInformation__blockRow:last-child {
    width: 89%;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn:last-child{
    width: 48%;
}

.containerForInformation__blockRow:last-child h2{
    margin: 0.6rem 0 1.1rem 1.15rem;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn:last-child h2{
    margin-left: 0.14rem;
}

.containerForInformation__blockColumn{
    display: flex;
    flex-direction: column;
    width: 46.5%;
}

.containerForHeader{
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    z-index: 1;
}

.containerForFooter{
    margin-top: 2.7rem;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
}

@media screen and (min-width: 1450px) {
    .containerForImg{
        margin: 0 auto;
    }
    .containerSector{
        width: 8rem;
        margin-right: 1rem;
    }
    .containerForInformation__blockRow{
        justify-content: start;
    }
    .containerForInformation__blockColumn{
        width: 40%;
    }
    .containerForInformation__maxi{
        margin-right: 0;
        width: 70%;
    }
}

@media screen and (max-width: 1550px) {
    .containerForInformation__blockColumn{
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {
    .containerForInformation{
        padding: 3rem;
        justify-content: space-between;
    }
    .containerForInformation__blockRow{
        width: 70%;
    }
    .containerForImg__mini{
        display: none;;
    }
    .containerForImg{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1250px) {
    .containerForInformation__maxi{
        margin-right: 0;
        width: 60%;
    }
    .reviewContainer{
        width: 90%;
    }
    .containerForInformation__blockColumn{
        width: 60%;
        flex-wrap: wrap;
    }
    .containerForInformation__blockRow{
        width: 100%;
    }
    .containerSector{
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .containerForInformation{
        padding: 2rem;
    }
    .containerForInformation__blockRow{
        flex-wrap: wrap;
        justify-content: center;
    }
    .containerForInformation__blockColumn{
        width: 70%;
        flex-wrap: wrap;
    }
    .containerDiagram{
        margin-bottom: 1rem;
    }
    .containerForImg img{
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .containerForInformation{
        padding: 2rem 2rem 0;
        flex-direction: column-reverse;
    }
    .containerForInformation__maxi{
        width: 100%;
    }
    .containerForInformation__blockColumn{
        width: 50%;
    }
    .cardsRoomRate{
        margin: 0 auto 2rem; 
    }
    .containerForInformation__blockRow, .containerForInformation__blockRow:last-child{
        width: 100%;
    }
    .containerForInformation__maxi>.containerForInformation__blockRow{
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .containerForInformation__blockColumn{
        width: 100%;
        justify-content: center;
    }
    .containerDiagram{
        justify-content: start;
    }
    .containerForInformation__blockRow:last-child .containerForInformation__blockColumn:last-child, .containerForInformation__blockRow:last-child .containerForInformation__blockColumn{
        width: 100%;
    }
    img{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .cardsRoomRate{
        padding: 1rem;
        height: 100%;
        width: 90%;
    }
    .rateRow{
        flex-wrap: wrap;
    }
    .blockDropdownMain, .containerDropdownList{
        width: 100%;
    }
}