@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";
@import "../../../pages/ui-kit/headers&footers/headers&footers.scss";
@import "../../../blocks/room-rate/room-rate";
@import "../../../blocks/room-information/room-information";
@import "../../../blocks/review/review";
@import "../../../blocks/like-button/like-button";
@import "../../../blocks/bullet-list/bullet-list";
@import "../../../blocks/diagram/diagram";
@import "../../../blocks/calendar/calendar";

.containerRoomDetails{
    display: flex;
    flex-direction: column;
}

.containerHide{
    top: 49rem;
    left: 59.25rem;
}

.containerForImg{
    display: flex;
    flex-direction: row;
}

.containerForImg__mini{
    display: flex;
    flex-direction: column;
}

.containerForInformation{
    display: flex;
    flex-direction: row;
    padding: 4.3rem 8.8rem 1rem 8.8rem;
}

.containerForInformation__maxi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerForInformation__maxi h2{
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.containerForInformation__blockRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerForInformation__maxi > .containerForInformation__blockRow{
    width: 86%;
}

.containerForInformation__blockRow:nth-child(2) .containerForInformation__blockColumn{
    width: 120%;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn{
    width: 38%;
}

.containerForInformation__blockRow:last-child {
    width: 89%;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn:last-child{
    width: 48%;
}

.containerForInformation__blockRow:last-child h2{
    margin: 0.6rem 0 1.1rem 1.15rem;
}

.containerForInformation__blockRow:last-child .containerForInformation__blockColumn:last-child h2{
    margin-left: 0.14rem;
}

.containerForInformation__blockColumn{
    display: flex;
    flex-direction: column;
    width: 46.5%;
}

.containerForHeader{
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    position: relative;
    z-index: 1;
}

.containerForFooter{
    margin-top: 2.7rem;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
}
