extends ../../../layout/main 
block variables
    - var title = 'Cards';

    include ../../../blocks/logo/logo
        .containerCards
            .columnCards
                .cards
                    .cardsContent
                        include ../../../blocks/search-rooms/search-rooms
                .cards
                    .cardsContent
                        include ../../../blocks/account-registration/account-registration
            .columnCards
                .cards
                    .cardsContent
                        include ../../../blocks/room-rate/room-rate
                .cards
                    .cardsContent
                        include ../../../blocks/log-in/log-in
            .columnCards
                .cards
                    .cardsContent
                        include ../../../blocks/calendar/calendar
                .cards
                    include ../../../blocks/room/room
                    +room('/img/rooms/room888.jpg', '888', 'ЛЮКС', '9 990₽', '145')
                .cards
                    include ../../../blocks/room/room
                    +room('/img/rooms/room840.jpg', '840', '', '9 900₽', '65')