extends ../../../layout/main 
block variables
    - var title = 'Cards';

    include ../../../blocks/logo/logo
        .containerCards
            .columnCards
            .columnCards
            .columnCards 