@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";

.columnCards {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2rem;
}
