extends ../../../layout/main 
block variables
    - var title = 'Cards';

    include ../../../blocks/logo/logo
        .containerCards
            .columnCards
                include ../../../blocks/search-rooms/search-rooms
                include ../../../blocks/account-registration/account-registration
            .columnCards
                include ../../../blocks/room-rate/room-rate
                include ../../../blocks/log-in/log-in
            .columnCards
                include ../../../blocks/calendar/calendar
                include ../../../blocks/room/room
                +room('/img/rooms/room888.jpg', '888', 'ЛЮКС', '9 990₽', '145')
                include ../../../blocks/room/room
                +room('/img/rooms/room840.jpg', '840', '', '9 900₽', '65')