.button{
    line-height:1rem;
    height: 2.7rem;
    border-radius: 2rem;
    border: none;
    margin-right: 1rem;
    width: 100%;
}

.button_size_mini{
    width:30%;
}

.fa-arrow-right{
    float: right;
}

@mixin opacity ($opacity:1){
    background: linear-gradient(180deg, $FirstColorGradient 0%, $SecondColorGradient 100%);
    color: #FFFFFF;
    opacity: $opacity;
}
.button_color_gradient{
    @include opacity()
}
.button_color_gradientDull{
    @include opacity(0.5)
}

.module-border-wrap {
    width:29%;
    padding: 1rem;
    margin-right: 1rem;
    position: relative;
    background: linear-gradient(180deg, $FirstColorGradient 0%, $SecondColorGradient 100%);
    padding: 2px;
    border-radius: 2rem;
}

.borderDull{
    opacity: 0.5;
}

.button_border_withBorder{
    background: rgb(250,250,250);
    color: $FirstColorGradient;
    width: 100%;
    opacity: 1;
}

@mixin colorLink ($color){
    text-decoration: none;
    color: $color;
    margin-right: 1.5rem;
}
.lightLink{
    @include colorLink($FirstColorGradient)
}
.darkLink{
    @include colorLink($ColorAdd-ons)
}
