@import "../../../layout/colors&fonts.scss";
@import "../../../pages/ui-kit/headers&footers/headers&footers.scss";
@import "../../../blocks/account-registration/account-registration.scss";

.containerRegistrationImg{
    background: url("/img/registration.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRegistrationBlock{
    margin: 1.8rem 0 -1rem;
}

@media screen and (min-width: 1450px) {
    .containerRegistrationImg{
        margin: 0 auto;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .containerRegistrationBlock{
        margin: 0;
    }
    div.cardsAccount{
        padding: 1rem;
        height: 100%;
        margin: 1rem;
        width: 80%;
    }
    .cardsAccount h1{
        margin: 0.2rem;
        font-size: 1.3rem;
    }
    .containerTextField input{
        width: 100%;
    }
    .cardsRowStart, .registrationRow{
        margin: 0.2rem 0 0;
        width: 100%;
    }
    .registrationBox{
        margin: 0.2rem 0 0;
    }
    .BlockGroupRadio{
        padding: 0;
    }
}