@import "../../../layout/colors&fonts.scss";
@import "../../../layout/fontawesome-webfont/font-awesome.scss";
@import "../../../pages/ui-kit/headers&footers/headers&footers.scss";
@import "../../../blocks/account-registration/account-registration.scss";

.containerRegistrationImg{
    background: url("/img/registration.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRegistrationBlock{
    margin: 1.8rem 0 -1rem;
}