mixin dropdown (name, size)
    include /dropdown__counter
    h3.text.text_type_h3=name
    .containerDropdown
        .blockDropdownMain(class=size)
            .containerDropdownList
                p.bodyText Сколько гостей
                i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
        .blockDropdownAdditional.dropdownHide(class=size)
            .blockDropdownList 
                p.text.text_type_h3 ВЗРОСЛЫЕ
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3 ДЕТИ
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3 МЛАДЕНЦЫ
                +Counter('0', 'buttonMinus_type_inactive')
            .blockDropdownList
                p.text.text_type_h3.text_color_purple.clearHide ОЧИСТИТЬ
                p.text.text_type_h3.text_color_purple ПРИМЕНИТЬ 