mixin button(name,color,size,style,onClick)
    if color==='button_border_withBorder'
        .module-border-wrap(class=style)
            button.text.text_type_h3.button(class=color onClick=onClick)=name
    if color==='button_color_gradient'||color==='button_color_gradientDull'
        button.text.text_type_h3.button(class=color, class=size, class=style onClick=onClick)=name
            if !size
                i.fa.fa-arrow-right.fa-lg(aria-hidden="true")

mixin link(text, color, link)
    a.text.text_type_h3(href=link, class=color)=text