mixin richCheckbox(id, heading, text)
    .blockColumn
        .blockRichCheckbox
            input.checkbox(type='checkbox', id=id)
            label.heading.heading_type_h3.heading_color_75(for=id)=heading
        p.bodyText.bodyText_type_mini.marginForText=text