@import "../rate-button/rate-button.scss";

.cards{
    width: 20rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 1.64rem;
}

.cards_size_mini{
    width: 16.9rem;
    padding: 0;
}

.cardsContentRoom{
    padding: 0.1rem 1.1rem 0rem 1.5rem;
}

.imgContainer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

.arrowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    position: absolute;
    width: 15rem;
    bottom: 4.3rem;
}

.circleContainer{
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 0.55rem;
    width: 2.9rem;
    bottom: 0.9rem;
    right: 0.9rem;
}

.imgRoom{
    width: 100%;
}

.roomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.3rem;
}

.roomReview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.blockroomRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.9rem;
}

.roomStarContainer{
    display: flex;
    flex-direction: row;
}

.roomNumberTextNumber{
    font-size: 1rem;  
}
