button.like-button.like-button_state_passive(type="button" id="likeButton") 
    i.fa.fa-heart-o(aria-hidden="true", id="heart-o")
    i.fa.fa-heart.hide(aria-hidden="true", id="heart")
    p.styleNumber(id="number") 0