@import "../toxin/toxin.scss";
@import "../buttons/buttons.scss";

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.45rem;
    background-color: #ffffff;
    padding: 0 8.75rem; 
}

.containerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 65.4%;
}

.containerNav_width_60.7{
    width: 60.7%;
}

.containerNav p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    height: 2rem;
    width: 9.5rem;
    padding-left: 1.8rem;
}

.containerNav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.containerNav nav{
    margin-right: 1.6rem;
    width: 100%;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 38%;
}

.containerNav_width_landing{
    width: 66.3%;
}

.buttonsContainer_width_landing{
    width: 39.3%;
}

li i{
    margin-left: 0.4rem;
    margin-right: 0.1rem;
}
