@import "../toxin/toxin.scss";
@import "../buttons/buttons.scss";

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4.45rem;
    background-color: #ffffff;
    padding: 0 8.75rem;
    flex-wrap: wrap; 
}

.containerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 65.4%;
    min-width: 700px;
}

.containerNav_width_60.7{
    width: 60.7%;
}

.containerNav p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    height: 2rem;
    width: 9.5rem;
    padding-left: 1.8rem;
}

.containerNav nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.containerNav nav{
    margin-right: 1.6rem;
    width: 100%;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 38%;
}

.containerNav_width_landing{
    width: 66.3%;
}

.buttonsContainer_width_landing{
    width: 39.3%;
}

li i{
    margin-left: 0.4rem;
    margin-right: 0.1rem;
}

@media screen and (min-width: 1700px) {
    .containerNav{
        width: 55%;
    }
}

@media screen and (max-width: 1500px) {
    .containerNav{
        width: 70%;
    }
}

@media screen and (max-width: 1300px) {
    .containerHeader{
        padding: 0 2rem; 
    }
    .containerNav nav{
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .containerNav{
        width: 80%;
    }
    .containerHeader{
        padding: 0 1rem; 
    }
    .button_landing_register{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 840px) {
    .containerHeader{
        height: 10rem;
        align-items: center;
        justify-content: center;
    }
    .containerNav{
        justify-content: center;
    }
}

@media screen and (max-width: 720px) {
    .containerNav{
        justify-content: center;
        flex-wrap: wrap;
    }
    .containerNav nav ul{
       width: 70%;
       margin: 0 auto 1rem;
    }
}

@media screen and (max-width: 500px) {
    .containerNav nav ul{
       width: 45%;
       flex-wrap: wrap;
       justify-content: center;
       margin-bottom: 0.2rem;
    }
    .containerNav nav ul li{
       margin-right: 1rem;
     }
}

