.containerTextField input{
    border: 1px solid $ColorOfInactiveElements;
    border-radius: 0.3rem;
    padding: 0.8rem;
    margin-top: 1px;
    width: 20rem;
    height: 2.75rem;
}

input::-webkit-input-placeholder { 
    color:$ColorOfInactiveElements; 
}
input:hover{
    color: $AdditionalColor;
    border: 1px solid $AdditionalColor;
}
input:focus{
    color: $AdditionalColor;
    border: 1px solid $AdditionalColor;
    outline:none;
}



