.blockDateDropdownMain{
    display: flex;
    flex-direction: column;
    border: 1px solid $ColorOfInactiveElements;
    width: 9.3rem;
    border-radius: 5px;
}

.blockDateDropdownList{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 7.3rem;
    height: 2.7rem;
}

