.blockDateDropdownMain{
    display: flex;
    flex-direction: column;
    border: 1px solid $ColorOfInactiveElements;
    width: 9.3rem;
    border-radius: 5px;
    margin-top: 0.1rem;
}

.blockDateDropdownList{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.81rem;
    width: 7.5rem;
    height: 2.7rem;
}

