mixin dateDropdown(name)
    .blockDateDropdownColumn
        h3.text.text_type_h3=name
        .blockDateDropdownMain
            .blockDateDropdownList
                p.bodyText.text_color_25 ДД.ММ.ГГГГ
                i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")