.containerRoomInformation{
    display: flex;
    flex-direction: row;
    padding: 0 0 1.2rem 0.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.blockForImg{
    display: flex;
    align-items: center;
}

.blockForText{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0.8rem;
}

.blockForText h3{
    margin: 0;
}

.blockForText p{
    margin: 0;
}
