$MainColor: #1F2041;
$AdditionalColor: rgba(31, 32, 65, 0.75);
$ColorAdd-ons: rgba(31, 32, 65, 0.5);
$ColorOfInactiveElements:  rgba(31, 32, 65, 0.25);
$ColorBorder:  rgba(31, 32, 65, 0.05);
$FirstColorGradient: #bc9cff;
$SecondColorGradient: #6FCF97;

$MainFont: 'Quicksand-Bold', 'Open Sans', Arial, Helvetica, sans-serif;
$AdditionalFont: 'Montserrat-Bold';
$AdditionalFontBody: 'Montserrat-Regular';
$IconFont: 'fontawesome-webfont';

.text{
    font-family: $MainFont;
    font-style: normal;
    font-weight: bold;
    color: $MainColor;
} 

.text_type_h1{
    font-size: 1.58rem;
    line-height: 1.89rem;
    letter-spacing: 0.033rem;
}

.text_type_h2{
    font-size: 1.285rem;
    line-height: 1.5rem;
}

.text_type_h3{
    font-family: $AdditionalFont;
    font-size: 0.75rem;
    line-height: 1.39rem;
    margin: 0;
}

.bodyText{
    font-family: $AdditionalFontBody;
    font-style: normal;
    font-weight: normal;
    font-size: 0.879rem;
    line-height: 1.6rem;
    color: $AdditionalColor;
}

.bodyText_type_mini{
    color: $ColorAdd-ons;
    font-size: 0.879rem;
    line-height: 1.7rem;
}

.text_size_14{
    font-size: 0.75rem;
}

.text_height_14{
    line-height: 0.92rem;
}

.text_height_17{
    line-height: 2rem;
}

.text_height_18{
    line-height: 1rem;
}

.text_height_24{
    line-height: 1.6rem;
}

.text_color_50{
    color: $ColorAdd-ons;
}

.text_color_75{
    color: $AdditionalColor;
}

.text_color_25{
    color: $ColorOfInactiveElements;
}

.text_color_purple{
    color: $FirstColorGradient;
}

.text_color_black{
    color: black;
}

.text_weight_normal{
    font-family: $AdditionalFontBody;
}

.text_weight_bold{
    font-family: $AdditionalFont;
}
