$MainColor: #1F2041;
$AdditionalColor: rgba(31, 32, 65, 0.75);
$ColorAdd-ons: rgba(31, 32, 65, 0.5);
$ColorOfInactiveElements:  rgba(31, 32, 65, 0.25);
$FirstColorGradient: #bc9cff;
$SecondColorGradient: #6FCF97;

$MainFont: 'Quicksand-Regular', Arial, sans-serif;
$AdditionalFont: 'Montserrat-Regular', Arial, sans-serif;

.heading{
    font-family: $MainFont;
    font-style: normal;
    font-weight: bold;
    color: $MainColor;
}

.heading_type_h1{
    font-size: 1.5rem;
    line-height: 2rem;
}

.heading_type_h2{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.heading_type_h3{
    font-family: $AdditionalFont;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.heading_type_h3Light{
    color: $ColorAdd-ons;
    font-weight: normal;
}

.heading_color_75{
    color: $AdditionalColor;
}

.bodyText{
    font-family: $AdditionalFont;;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.7rem;
    color: $AdditionalColor;
}

.bodyText_type_mini{
    color: $ColorAdd-ons;
    font-size: 0.8rem;
    line-height: 1.3rem;
}



