@import "colors&fonts.scss";
@import "../pages/ui-kit/colors&type/colors&type.scss";
@import "../blocks/logo/logo.scss";
@import "../pages/ui-kit/cards/cards.scss";
@import "../pages/ui-kit/headers&footers/headers&footers.scss";
@import "/fontawesome-webfont/font-awesome.scss";

html{
    width: 1440px;
    box-sizing: border-box; 
}

.body{
    width: 1440px;
    margin: 0;
    font-size: 62,5%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


