@import "colors&fonts.scss";
@import "../pages/ui-kit/colors&type/colors&type.scss";
@import "../blocks/logo/logo.scss";
@import "/fontawesome-webfont/font-awesome.scss";
@import "fonts.scss";

.html{
    width: 100%;
}

.body{
    width: 100%;
    margin: 0;
    font-size: 62,5%;
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 320px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}