mixin list(text)
    .blockList
        i.fa.fa-circle(aria-hidden="true")
        li.bodyText=text

ul.list
    +list('Нельзя с питомцами')
    +list('Без вечеринок и мероприятий')
    +list('Время прибытия — после 13:00, а выезд до 12:00 ')


